.navbar.activeCustOut {
    background-color: transparent !important;
    transition: background-color 0.5s ease-in-out;
  }
  
  .navbar.activeCustIn {
    background-color: #D7E4FA;
    transition: background-color 0.5s ease-in-out;
  }