body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cstm-animation {
  -webkit-animation: fadeIn 1.5s ease;
  animation: fadeIn 3s ease;
  -webkit-animation-delay: 1s;
  animation-delay: 0s;
}

@-webkit-keyframes fadeIn {
  0% {
    -webkit-opacity: 0;
    -webkit-filter: blur(10px);
  }

  10% {
    -webkit-opacity: 1;
    -webkit-filter: brightness(1) blur(10px);
  }

  100% {
    -webkit-opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    filter: blur(10px);
  }

  10% {
    opacity: 1;
    filter: brightness(1) blur(10px);
  }

  100% {
    opacity: 1;
  }
}

.land-bg {
  background-color: #2e365e;
}

.land-bg-alt {
  background-color: #EFEFEF;
  filter: drop-shadow(0px 0px 5px rgba(223, 223, 223, 1));
}

.cstm-wrap {
  white-space: normal;
}

.cstm-padding-col {
  padding-top: 15vh;
}

.fonts.cstm-poppins {
  font-family: 'Poppins', sans-serif;
}

.fonts.cstm-poppins.headline {
  font-size: 4.5vh;
}


.fonts.cstm-poppins.nowrap {
  white-space: nowrap;
}

.fonts.cstm-poppins.white {
  color: #ffff;
}

.fonts.cstm-poppins.extralight {
  font-weight: 200;
}

.fonts.cstm-poppins.regular {
  font-weight: 400;
}

.fonts.cstm-poppins.paragraph {
  font-size: 2.5vh;
}

.fonts.cstm-poppins.regular.italic {
  font-style: italic;
}

.fonts.cstm-poppins.bold {
  font-weight: 700;
}

.fonts.cstm-oswald {
  font-family: 'Oswald', serif;
  font-size: 4.5vw;
  font-size: 9.5vh;
  font-weight: bolder;
  white-space: nowrap;
}


.fonts.cstm-staat {
  font-family: 'Staatliches', serif;
  font-size: 5vw;
}

.fonts.cstm-co {
  font-family: 'Concert+One', serif;
  font-size: 5vw;
}

.fonts.cstm-sora {
  font-family: 'Sora', serif;
  font-size: 4.5vw;
  font-size: 9.5vh;
  font-weight: bolder;
  white-space: nowrap;
}

.fonts.cstm-sora-md {
  font-family: 'Sora', serif;
  font-size: 3.5vw;
  font-weight: bolder;
}

.text-bold.cstm-jumbo-bold {
  font-weight: 500;
}

.text-bold.cstm-jumbo {
  font-weight: 400;
}

.navbar.activeCustOut {
  background-color: transparent !important;
  transition: background-color 0.5s ease-in-out;
}

.navbar.activeCustIn {
  background-color: #D7E4FA;
  transition: background-color 0.5s ease-in-out;
}

.jumbotron.custdims {
  min-height: 50vh;
}

.img-fluid.custdims {
  min-width: 100%;
  max-height: 15vh;
}

.img-fluid.custdims.cTw {
  filter: drop-shadow(0px 10px 1px rgba(223, 223, 223, 0.7));
}

.img-fluid.custdims.wTc {
  filter: drop-shadow(0px -10px 1px rgba(223, 223, 223, 0.7));
}

.row.tit-cstm {
  padding-top: 2.5vh;
}

.number.cstm {
  color: #2e365e;
  font-family: "Sora", serif;
  font-size: 10vh;
  font-weight: 900;
}

.btn.trans {
  color: transparent !important;
  background-color: transparent !important;
  transition: background-color 0.5s ease-in-out;
}

.btn.trans ion-icon {
  color: transparent !important;
  background-color: transparent !important;
}

.btn.act {
  background-color: #f8f9fa !important;
  transition: background-color 0.5s ease-in-out;
}

.btn-circle {
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0;
  border-radius: 50%;
}

.btn-circle ion-icon {
  position: relative;
  top: -1px;
}

.btn-circle-lg {
  width: 55px;
  height: 55px;
  line-height: 55px;
  font-size: 1.1rem;
}

.btn-gtt {
  position: fixed;
  left: 0;
  right: 0;
  top: 90vh;
  z-index: 1;
}